<!DOCTYPE html>
    <html>

    <head >
        <title>Covid-19 Predictor</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


        <style type="text/css">
            body { 
    animation: fadeInAnimation ease 1s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.card {
    border-radius: 0;
}

.overlay-img {
    position: relative;
}

.stack-top {
    position: absolute;
    top:40%;
    /*right: 2%;*/
    width: 50%;
    z-index: 1000;
}

        </style>


    
    </head>
    <body bgcolor="#ffffff" >

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Covid-19 Predictor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/train_LR">Ridge Regression</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/train_SVR">Support Vector Regression</a>
      </li>
            </li>
            <li class="nav-item">
        <a class="nav-link" href="/train_arima">ARIMA</a>
      </li>
            </li>
            <li class="nav-item">
        <a class="nav-link" href="/show_graphs">Analysis</a>
      </li>
            </li>
            <li class="nav-item">
        <a class="nav-link" href="/state_wise">Statewise Cases</a>
      </li>
    </ul>

  </div>
</nav>
    
        <div id="home">
            <div class='overlay-img'>
            <div>
                <table class="table table-responsive-sm w-100 stack-top" style="text-align: center;">
                    <thead><tr><th class="col-3"><h1>Confirmed</h1></th><th class="col-3" ><h1>Recovered</h1></th><th class="col-6"><h1>Death</h1></th></tr></thead>
                    <tbody><tr><td class="col-3"><h1>{{confirmed}}</h1></td><td  class="col-3"><h1>{{recovered}}</h1></td><td class="col-6"><h1>{{deaths}}</h1></td></tr></tbody>
                </table>
            </div>
            <div id="corona-img" style="opacity: 0.3;" ><img id="image" src="https://images.unsplash.com/flagged/photo-1584036561584-b03c19da874c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80"
            style="height: auto;width: 100%"></div>
            

            </div>
            <div class="card card-body bg-light">
                <h3>What's new ?</h3>
                <div id="all_news" style="margin-top: 20px;">
                   
                    {% for i in range(news_summaries|length) %}
                    <p><a href={{links[i]}}> {{news_summaries[i]}} </a></p>
                    {% endfor %}
                    <p><a href="https://news.google.com/search?q=coronavirus+india">See all</a></p>
            </div>
            </div>

            <div id="about_project" class="card card-body bg-dark" style="margin: 0;">

                <h3 style="color: white;">About the project</h3>
                <p style="color: white">This project is solely for learning purpose. It aims to predict the Covid-19 cases in India based on previous time-series data. 
                Currently it uses Ridge Regression,Support Vector Regression and ARIMA models. </p>
            </div>


<!-- 
https://news.google.com/search?q=coronavirus+india -->

            
        </div>

        <div class="container">
            <div id="all_chart">
             </div>
                
        <h4>{{prediction|safe}}</h4>
    </div>
    <div id="state_table">
</div>
        </body>

  
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script type="text/javascript">
                


                    var url = window.location.href
            if(url.split('/').length >1) {
                document.getElementById('home').style.display='none';
                }

                
            // var state_df = {{df|safe}};
            // {% if state_df %}
            // var node = document.getElementById("state_table");
            // var item = document.createElement("DIV");
            // var text = document.createTextNode(state_df);
            // item.appendChild(text);
            // node.appendChild(item);
            // {%endif%}


          var graphs = {{graphJSON | safe }};   
            var node = document.getElementById("all_chart");
            for(var i=0;i<Object.keys(graphs).length;i++)
            {   
                var item = document.createElement("DIV")
                item.setAttribute("id","chart"+String(i+1));
                node.appendChild(item);
                Plotly.plot('chart'+String(i+1),graphs[i],{},{responsive:true});
            }
        



        </script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    </html> 